body {
  background-color: black;
  margin: 0;
  height: 100vh;                 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;              
  color: white;
  font-family: "Libre Baskerville",serif;
}

.poster {
  text-align: center;
  width: 100%;                    
  max-width: 500px;              
  display: flex;
  flex-direction: column;        
  align-items: center;
  justify-content: center;
  height: 100%;                  
}

.kollol {
  width: 100%;
  max-width: 1200px; 
  height: auto;
  border: 2px solid white;
  object-fit: contain;
}

h1 {
  font-size: 3rem; 
}

p {
  font-size: 2rem; 
}